html {
    height: 100%;
}

body {
    background-color: #151719;
    font-family: Avenir, 'Lato';
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.85;
    }
}

div#main-container {
    margin: 50px auto 40px 17vw;
    max-width: 600px;
    height: 300px;
    width: 550px;
}

div#right-main {
    max-width: 1170px;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about {
    min-height: 100%;
}

.about {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 34em;
    position: relative;
}

img.headshot {
    margin-top: 5vh;
    border: 0;
    width: 90px;
    z-index: -99999999;
    position: relative;
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgba(0,0,0,.08);
    animation: fadein .5s both;
    animation-delay: .2s;
    image-rendering: optimizeQuality;
}

section#nav {
    margin-top: 15px;
    max-width: 363px;
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

ul.menu-container {
    font-family: Avenir, 'Lato';
    font-weight: 500;
    font-size: 16px;
    display: flex;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    animation: fadein .5s both;
    animation-delay: .25s;
}

a.nav {
    font-family: Avenir, 'Lato';
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    padding: 3px 17px;
    color: #F7F7F7;
    display: inline-block;
    border-radius: 6px;
    margin: 0 5px;
}

a.nav:hover {
    opacity: 0.75;
}

a.nav.active {
    font-weight: 900;
    color: #007AFF;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

#sayHello {
    font-size: 20px;
    color: #f7f7f7;
    opacity: 0.75;
    margin-top: -18vh;
    /*margin-top: calc(100%-20vh);*/
}

h1.hero {
    color: #F7F7F7;
    font-family: Avenir, 'Lato';
    /* margin-bottom: 260px; */
    width: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    animation: fadein .5s both;
    animation-delay: .3s;
}

p.description {
    color: #F7F7F7;
    font-family: Avenir, 'Lato';
    font-size: 15.6px;
    font-weight: normal;
    max-width: 500px;
    text-align: justify;
    position: absolute;
    top: 61px;
    animation: fadein .5s both;
    animation-delay: .35s;
}

a.here {
    text-decoration: none;
    color: inherit;
}

code {
    color: #007AFF;
    max-width: 500px;
    text-align: justify;
    position: absolute;
    top: 290px;
    right: 31px;
    padding-top: 20px;
    pointer-events: none;
    animation: fadein .5s both;
    animation-delay: .4s;
}

.contact {
    position: absolute;
    right: 0;
    bottom: -16px;
    margin-right: 170px;
}

ul.link {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: grid;
}

li {
    list-style-type: none;
    text-decoration: none;
}

li.hook-me-up {
    color: #F7F7F7;
    font-family: Avenir, 'Lato';
    text-align: left;
    font-size: 0.65em;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
    animation: fadein .5s both;
    animation-delay: .45s;
}

a.social-media {
    text-decoration: none;
    font-weight: normal;
    color: #007AFF;
    letter-spacing: 0.2px;
    margin-bottom: 24px;
    text-align: left;
    animation: fadein .5s both;
    animation-delay: .45s;
}

/* project */
div#projects-container {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 90px auto 90px;
    max-width: 600px;
    height: 200px;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
}

.link {
    text-decoration: none;
}

.container {
    display: flex;
    align-items: center;
    border-radius: 3px;
    height: 100%;
    width: 100%;
    margin-top: 3em;
    margin-bottom: 3em;
}

.joyfeed-background {
    background: #c0392b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8e44ad, #c0392b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8e44ad, #c0392b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fhda-background {
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gimo-background {
    background: #20002c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #cbb4d4, #20002c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #cbb4d4, #20002c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.quotes-background {
    background: url(../img/jump.png);
    background-position: right;
}

.penguiin-background {
    background: url(../img/penguiin.gif);
    background-position: right;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.mouseover:hover {
    transition: 150ms;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, .14);
    -moz-box-shadow: 0 0 30px rgba(0, 0, 0, .14);
    -ms-box-shadow: 0 0 30px rgba(0, 0, 0, .14);
    -o-box-shadow: 0 0 30px rgba(0, 0, 0, .14);
    box-shadow: 0 0 30px rgba(0, 0, 0, .14);
}

.mouseover:hover h1.pro-name,
.mouseover:hover p.brief {
    color: #151719;
}

h1.pro-name {
    margin-top: 50px;
    margin-left: 10px;
    color: #fff;
    font-size: 50px;
    position: relative;
    z-index: 1;
    animation: fadein .5s both;
    animation-delay: .35s;
}

p.brief {
    margin-left: 10px;
    color: #C7B9CC;
    max-width: 360px;
    text-align: left;
    position: absolute;
    padding-top: 100px;
    /*margin-top: 63px;*/
    animation: fadein .5s both;
    animation-delay: .4s;
}

.right-arrow {
    color: white;
    margin-left: 300px;
    position: static;
    animation: fadein .5s both;
    animation-delay: .45s;
}

p.discover {
    color: #f9ed8a;
    opacity: 0.85;
    font-size: 16px;
    padding-left: 20px;
    animation: fadein .5s both;
    animation-delay: .4s;
}








/** @media **/
@media screen and (min-width: 1440px) {
    #sayHello {
        font-size: 20px;
        color: #f7f7f7;
        opacity: 0.75;
        margin-top: 8vh;
    }

    img.headshot {
        margin-top: 10vh;
        border: 0;
        width: 100px;
        z-index: -99999999;
        position: relative;
        border-radius: 5px;
        box-shadow: 10px 10px 5px rgba(0,0,0,.08);
        animation: fadein .5s both;
        animation-delay: .2s;
        image-rendering: optimizeQuality;
    }

    div#main-container {
        margin: 80px auto 40px 26vw;
        max-width: 600px;
        height: 300px;
        width: 550px;
    }

    h1.hero {
        color: #F7F7F7;
        font-family: Avenir, 'Lato';
        width: 200px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        animation: fadein .5s both;
        animation-delay: .3s;
    }

    .contact {
        position: absolute;
        right: -305px;
        bottom: -20px;
    }
}

@media screen and (min-width: 1280px) {
    #sayHello {
        font-size: 20px;
        color: #f7f7f7;
        opacity: 0.75;
        margin-top: -10vh;
    }

    img.headshot {
        margin-top: 10vh;
        border: 0;
        width: 100px;
        z-index: -99999999;
        position: relative;
        border-radius: 5px;
        box-shadow: 10px 10px 5px rgba(0,0,0,.08);
        animation: fadein .5s both;
        animation-delay: .2s;
        image-rendering: optimizeQuality;
    }
}


@media screen and (min-width: 401px) and (max-width: 1120px) {
    .contact {
        position: absolute;
        right: 0;
        bottom: -16px;
        margin-right: 170px;
        display: none;
    }
}


@media screen and (max-width: 400px) {
    #sayHello {
        font-size: 20px;
        color: #f7f7f7;
        opacity: 0.75;
        margin-top: -25vh;
    }

    section#nav {
        margin-top: 15px;
        max-width: 385px;
        text-align: center;
        display: flex;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }

    div#main-container {
        margin: 80px auto 40px 11vw;
        max-width: 600px;
        height: 300px;
        width: 285px;
    }

    ul.menu-container {
        right: 25px;
        font-family: Avenir, 'Lato';
        font-weight: 500;
        /*font-size: 20px;*/
        display: flex;
        list-style-type: none;
        margin-left: auto;
        margin-right: auto;
        white-space: nowrap;
        text-align: center;
        justify-content: center;
        align-items: center;
        position: absolute;
        animation: fadein .5s both;
        animation-delay: .25s;
    }

    a#menu {
        font-family: Avenir, 'Lato';
        text-decoration: none;
        font-size: 17px;
        padding: 5px 20px;
        color:#F7F7F7;
        display: inline-block;
        border-radius: 6px;
        margin: 0 5px;
    }

    a#about {
        font-family: Avenir, 'Lato';
        text-decoration: none;
        font-size: 17px;
        padding: 5px 20px;
        color:#F7F7F7;
        display: inline-block;
        border-radius: 6px;
        margin: 0 5px;
    }

    a#projects {
        font-family: Avenir, 'Lato';
        text-decoration: none;
        font-size: 17px;
        padding: 5px 20px;
        color:#F7F7F7;
        display: inline-block;
        border-radius: 6px;
        margin: 0 5px;
    }

    h1.hero {
        color: #F7F7F7;
        font-family: Avenir, 'Lato';
        position: absolute;
        top: 0;
        bottom: 0;
        left: -22px;
        animation: fadein .5s both;
        animation-delay: .3s;
    }

    p.description {
        color: #F7F7F7;
        font-family: Avenir, 'Lato';
        font-size: 15.6px;
        font-weight: normal;
        text-align: justify;
        position: absolute;
        left: 0;
        animation: fadein .5s both;
        animation-delay: .35s;
    }

    code {
        color: #007AFF;
        max-width: 500px;
        text-align: justify;
        line-height: 17px;
        position: absolute;
        top: 310px;
        right: 0px;
        padding-top: 25vh;
        pointer-events: none;
        animation: fadein .5s both;
        animation-delay: .4s;
    }

    .contact {
        position: absolute;
        right: 0;
        top: 280px;
        margin-right: 160px;
    }
}