@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.85;
    }
}

body {
    background-color: #151719;
    font-family: 'Lato', Avenir;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

div#left-main {
    margin: 80px auto 40px;
    max-width: 1100px;
    margin-left: 210px;
}

div#right-main {
    /*max-width: 700px;*/
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about {
    min-height: 100%;
}

.about {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 34em;
    position: relative;
}

img.headshot {
    margin-top: 30px;
    border: 0;
    width: 90px;
    z-index: -99999999;
    border-radius: 5px;
    box-shadow: 10px 10px 5px rgba(0,0,0,.08);
    animation: fadein .5s both;
    animation-delay: .2s;
    image-rendering: optimizeQuality;
}

section#nav {
    margin-top: 15px;
    max-width: 363px;
    text-align: center;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

ul.menu {
    font-family: Avenir;
    font-weight: 900;
    font-size: 16px;
    display: flex;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    animation: fadein .5s both;
    animation-delay: .25s;
}

a.menu {
    font-family: Avenir, 'Lato';
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    padding: 0 17px;
    color: #F7F7F7;
    display: inline-block;
    border-radius: 6px;
    margin: 0 5px;
}

a.menu:hover {
    color:#F7F7F7;
    opacity: 0.75;
    /*animation: fadein 1s both;*/
}

li.active {
    /*color:#F7F7F7;*/
    border-bottom: 2px #ff0 solid;
    font-weight: bold;
    /*animation: fadein 1s both;*/
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

.typed-cursor{
    display: none;
}

#sayHello {
    font-size: 20px;
    color: #f7f7f7;
    opacity: 0.75;
    margin-top: 27vh;
}

h1.hero {
    color: #F7F7F7;
    font-family: Avenir;
    /* margin-bottom: 260px; */
    width: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    animation: fadein .5s both;
    animation-delay: .3s;
}

p.description {
    color: #F7F7F7;
    font-family: Avenir;
    font-size: 15.6px;
    font-weight: normal;
    max-width: 500px;
    text-align: justify;
    position: absolute;
    top: 61px;
    animation: fadein .5s both;
    animation-delay: .35s;
}

code {
    color: #8d60f5;
    max-width: 500px;
    text-align: justify;
    position: absolute;
    top: 290px;
    right: 31px;
    animation: fadein .5s both;
    animation-delay: .4s;
}

.contact {
    position: absolute;
    right: 0;
    left: 640px;
    margin-top: 158px;
}

ul.link {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: grid;
}

li {
    list-style-type: none;
    text-decoration: none;
}

/*li.hook-me-up {
    color: #F7F7F7;
    font-size: 17px;
    font-weight: 100;
    font-family: Avenir, 'Lato';
    text-align: left;
    animation: fadein .5s both;
    animation-delay: .45s;
}*/

li.hook-me-up {
    color: #F7F7F7;
    font-family: Avenir, 'Lato';
    text-align: left;
    font-size: 0.65em;
    font-weight: 700;
    text-indent: 3px;
    letter-spacing: 3px;
    text-transform: uppercase;
    animation: fadein .5s both;
    animation-delay: .45s;
}

a.social-media {
    text-decoration: none;
    color: #8d60f5;
    letter-spacing: 0.2px;
    margin-bottom: 24px;
    text-align: left;
    animation: fadein .5s both;
    animation-delay: .45s;
}

/* project */
.projects {
    margin: 70px auto 40px;
    max-width: 900px;
}

.container {
    margin: 50px 0 -150px;
    max-width: 600px;
}

img.pro-img {
    position: relative;
    z-index: -1;
    border-radius: 0.85%;
    animation: fadein .5s both;
    animation-delay: .2s;
}

h1.pro-name {
    color: #fff;
    font-size: 75px;
    position: relative;
    z-index: 1;
    bottom: 170px;
    left: 440px;
    animation: fadein .5s both;
    animation-delay: .3s;
}

/*nice button css*/
/*button {
    cursor: pointer;
    display: block;
    color: #6C57A2;
    border: 1px solid currentColor;
    background: transparent;
    font-size: 1rem;
    font-family: Avenir;
    outline: none;
    padding: 8px 16px;
    border-radius: 3px;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

button:hover {
    color: white;
}*/





/** @media **/
@media screen and (max-width: 400px) {
    a.menu {
        font-family: Avenir, 'Lato';
        text-decoration: none;
        font-size: 17px;
        padding: 5px 20px;
        color:#F7F7F7;
        display: inline-block;
        border-radius: 6px;
        margin: 0 5px;
    }   
}