body {
    background-color: #151719;
    font-family: 'Lato', Avenir;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

#about {
    min-height: 100%;
}

.about {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25vh;
}

img.headshot {
    border: 0;
    width: 150px;
    z-index: -99999999;
    border-radius: 100px;
    box-shadow: 10px 10px 5px rgba(0,0,0,.08);
    image-rendering: optimizeQuality;
}

ul.menu {
    font-family: Avenir;
    font-weight: 900;
    font-size: 16px;
    display: flex;
    list-style-type: none;
    left: 30px;
    right: 30px;
    bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
}

a.menu {
    font-family: Avenir, 'Lato';
    text-decoration: none;
    font-size: 17px;
    padding: 5px 25px;
    color: #454545;
    display: inline-block;
    border-radius: 6px;
    margin: 0 5px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.85;
    }
}

a.menu:hover {
    /*color:#F7F7F7;*/
    color: #ff0;
    animation: fadein 1s both;
}

.typed-cursor{
    display: none;
}

.sayHello {
    font-size: 20px;
    color: #f7f7f7;
    opacity: 0.75;
    margin-top: 20vh;
}

/* about */
.sensei {
    margin: 70px auto 40px;
    right: 150px;
    max-width: 500px;
    z-index: 999999;
    position: relative;
    height: 85vh;
}

.name {
    color: #fff;
    font-size: 38px;
    text-transform: uppercase;
    animation: fadein .5s both;
    animation-delay: .2s;
}

p.bio {
    font-family: Avenir;
    color: #ccc;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
    text-align: justify;
    animation: fadein .5s both;
    animation-delay: .3s;
}

span {
    color: #6C57A2;
}

button {
    cursor: pointer;
    display: block;
    color: #6C57A2;
    border: 1px solid currentColor;
    background: transparent;
    font-size: 1rem;
    font-family: Avenir;
    outline: none;
    padding: 8px 16px;
    border-radius: 3px;
    -webkit-transition: .3s ease;
    transition: .3s ease;
}

a {
    text-decoration: none;
}

button:hover {
    color: white;
}

p {
    font-family: Avenir;
    color: #ccc;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
    text-align: justify;
    animation: fadein .5s both;
    animation-delay: .3s;
}

.overlay-bg {
    float: right;
    z-index: 999999;
    position: fixed;
    /*opacity: 0.55;*/
    top: -1px;
    /*right: 440px;*/
    right: 280px;
    width: 200px;
}

img.moma {
    width: 320px;
    z-index: -69;
    position: fixed;
    border-radius: 0.5%;
    box-shadow: 10px 10px 5px rgba(0,0,0,.08);
    image-rendering: optimizeQuality;
    animation: fadein .5s both;
    animation-delay: .2s;
}

/* project */
.projects {
    margin: 70px auto 40px;
    max-width: 900px;
}

.container {
    margin: 50px 0 -150px;
    max-width: 600px;
}

img.pro-img {
    position: relative;
    z-index: -1;
    border-radius: 0.85%;
    animation: fadein .5s both;
    animation-delay: .2s;
}

h1.pro-name {
    color: #fff;
    font-size: 75px;
    position: relative;
    z-index: 1;
    bottom: 170px;
    left: 440px;
    animation: fadein .5s both;
    animation-delay: .3s;
}